body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #0f5132;
}

.navbar-brand, .nav-link {
  color: white !important;
  font-weight: 500;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('https://images.unsplash.com/photo-1492724441997-5dc865305da7');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: #198754;
  font-weight: bold;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

footer {
  background: #0f5132;
  color: white;
  text-align: center;
  padding: 15px;
}

.btn-green {
  background: #198754;
  color: white;
  border-radius: 30px;
}

.btn-green:hover {
  background: #146c43;
}